/* Add styling for your page here */
h1 {
  text-align: center;
}

button:hover {
  cursor: pointer;
}

.fav {
  background-color: rgb(223, 239, 239);
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 20px;
}

.fav input{
  margin-bottom: 10px;
}

#reset-btn {
  margin: 15px 0px;
  border: none;
  background-color: rgb(140, 207, 207);
  border-radius: 5px;
  padding: 5px 8px;
}

.animal-cards {
  margin-right: 300px;
}

.animal {
  display: flex;
  flex-wrap: wrap;
}

.animal-item {
  background-color:cornsilk;
  width: 300px;
  margin: 20px;
  padding: 20px;
}

.animal-item img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.animal-item button {
  border: none;
  background-color: rgb(255, 209, 194);
  border-radius: 5px;
  padding: 5px 8px;
}